[submodule "frozen-harness-to-use"]
	path = frozen-harness-to-use
	url = https://github.com/JasonPeng2019/harness-single.git
	branch = frozen-v1
[submodule "current-wip-harness-runner"]
	path = current-wip-harness-runner
	url = https://github.com/JasonPeng2019/harness-single.git
	branch = working/firmware/v2-candidate
[submodule "stable-general-harness-runner"]
	path = stable-general-harness-runner
	url = https://github.com/JasonPeng2019/harness-single.git
	branch = progress/v1.1
